section{

    background-color: lightblue;
    height: 100vh;

    .container{
        padding: 100px 0;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .dress-wrapper{
            width: 300px;
            height: 300px;
            font-size: 30px;
            background-color: coral;
            border: 1px solid grey;
            padding: 20px;
        }
    }
}
